<div *ngIf="userSigned; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <!-- <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a> -->
  <!-- <button (click)="RouteDashboard()">Dashboard</button> -->
  <!-- <app-dashboard></app-dashboard> -->
</ng-template>
<br/>
<ng-template #elseBlock>
  <!-- <a routerLink="/forms" routerLinkActive="active" ariaCurrentWhenActive="page">Forms</a> -->
  <!-- <app-forms-container></app-forms-container> -->
  <!-- <button (click)="RouteLoginForms()">Login/Register</button> -->
</ng-template>


